.autocomplete {
    width: 100%;
    position: relative;
}

.autocomplete input, .autocomplete li {
    font-size: 1.7rem;
    width: 100%;
    padding: 5px 20px;
}

.autocomplete input, .autocomplete ul {
    border: 2px solid #c3c3c3;
}

.autocomplete ul {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 12px;
    z-index: 99;
    padding: 0;
    margin-bottom: 38px;
}

.autocomplete li {
    text-align: left;
    list-style: none;
    background-color: #fff;
}

.autocomplete li:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.autocomplete li:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.autocomplete li.active {
    width: 100%;
    background-color: #FFA857;
}

.autocomplete .highlight {
    background-color: #fffe00;
}

.autocomplete li.active .highlight {
    background: #666;
    color: #fff;
}
